<!DOCTYPE html>
<html>
<head>
    <title>IEDCS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="./css/styles.css" content="text/css">
    <link rel="stylesheet" href="http://bootswatch.com/superhero/bootstrap.css" content="text/css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/iedcs/">IEDCS</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/iedcs/">Home</a></li>
                <li><a href="/iedcs/about">About</a></li>
                <li><a href="/iedcs/contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/iedcs/Account/register">Register</a></li>
                <li><a href="/iedcs/Account/login">Log in</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/iedcs/Account/manage" title="Manage your account">Hello, User!</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container body-content">
    <hr/>
    <div class="jumbotron">
        <h1>Account Manage Page</h1>

    </div>
    <footer>
        <p>&copy; 2015 - Daniel - 51908 //\\Tiago Oliveira - 51687</p>
    </footer>
</div>

</body>
</html>
